@media screen and (max-width:576px) {

 .nav-flex,  .nav-right,  .main-banner{
    flex-direction: column;
  
 } 

 .section-01{
    flex-direction: column;
    width: 100%;
    
 }
    
 .section-02{
    grid-template-columns: 1fr;
 }
 .section-03{
    flex-direction: column-reverse;
    gap: 24px;
   

 }
 header, main{
    margin:5px;
 }
 .footer{
    max-width: 100%;
    margin-top: 28px;
 }
 .description, .img-container{
 
    margin: 0px;
    padding: 0px;

 }


.img-container, .description{
    width: 100%;
    height: 100%;

 
}
.card img{
    width: 100%;
    object-fit: cover;
  
}
.section-01 img{
    width: 30%;
    margin: 0 auto;
   
    justify-content: center;
}

.main-camera img{
    width: 70%;
  
}
.main-camera{
    width: 70%;
    height: 100%;
    margin:0 auto;
    background-size: 75%;
   
}

.intro-words, .nav-right, .nav-left{
    width: 100%;
}
.nav-left, .nav-right a, .nav-right i{
    display: flex;
    justify-content: center;
}




}